<app-cabecera></app-cabecera>

<app-form-operacion></app-form-operacion>

<!--Es cierto que este listado se podría incluir en otro componente, pero ya que este 
    unicamente serviría para agrupar los <app-ingreso> sin llegar a añadir ninguna funcionalidad, voy a omitirlo-->
<div class="contenedor  limpiarEstilos">
    <div class="ingreso">
        <h2 class="ingreso_titulo">Ingresos</h2>
        <app-ingreso
            *ngFor="let ingreso of presupuestoService.ingresosService.listadoIngresos"
            [ingreso]="ingreso"></app-ingreso>
    </div>

    <div class="egreso">
        <h2 class="egreso_titulo">Gastos</h2>
        <app-gasto
            *ngFor="let gasto of presupuestoService.gastosService.listadoGastos"
            [gasto]="gasto"></app-gasto>
    </div>
</div>