<div class="cabecero">
    <div class="presupuesto">
        <div class="presupuesto_titulo">
            Presupuesto Disponible:
        </div>
        
        <div class="presupuesto_valor">{{ presupuestoService.actualizarPresupuesto() | number:'1.0-2' }}</div>
        
        <div class="presupuesto_ingreso limpiarEstilos">
            <div class="presupuesto_ingreso--texto">Ingresos</div>
            <div class="right">
                <div class="presupuesto_ingreso--valor">{{ presupuestoService.ingresosService.calcularIngresoTotal() | number:'1.0-2' }}</div>
                <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
            </div>
        </div>
        
        <div class="presupuesto_egreso limpiarEstilos">
            <div class="presupuesto_egreso--text">Gastos</div>
            <div class="right limpiarEstilos">
                <div class="presupuesto_egreso--valor">{{ - presupuestoService.gastosService.calcularEgresoTotal() | number:'1.0-2' }}</div>
                <div class="presupuesto_egreso--porcentaje">{{ presupuestoService.gastosService.calcularEgresoTotal()/presupuestoService.ingresosService.calcularIngresoTotal() | percent }}</div>
            </div>
        </div>
    </div>
</div>
